@mixin btn($bkgr, $fontSize, $fontWeight, $color) {
  display: inline-block;

  padding: 6px 28px;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: var(--line-height-m);
  color: $color;

  background-color: $bkgr;
  border: none;
  border-radius: 4px;
  outline: none;

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  @include btn(
    var(--color-accent-500),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--color-light-100)
  );

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    padding: 4px 26px;
    background-color: var(--color-accent-500);
    border: 2px solid var(--color-info-700);
  }
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
