@mixin btn($bkgr, $fontSize, $fontWeight, $color) {
  cursor: pointer;

  display: inline-block;

  padding: 6px 28px;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: var(--line-height-m);
  color: $color;

  background-color: $bkgr;
  border: none;
  border-radius: 4px;
  outline: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.primary {
  @include btn(
    var(--color-accent-500),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--color-light-100)
  );

  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus-visible {
    padding: 4px 26px;
    background-color: var(--color-accent-500);
    border: 2px solid var(--color-info-700);
  }
}

.secondary {
  @include btn(
    var(--color-dark-300),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--color-light-100)
  );

  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:active:enabled {
    background-color: var(--color-dark-500);
  }

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    padding: 4px 26px;
    background-color: var(--color-dark-300);
    border: 2px solid var(--color-info-700);
  }
}

.tertiary {
  @include btn(
    var(--color-dark-300),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--color-accent-500)
  );

  background: transparent;
  outline: 1px solid var(--color-accent-500);

  &:active:enabled {
    background-color: var(--color-accent-900);
  }

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    padding: 4px 26px;
    background: transparent;
    outline: 2px solid var(--color-info-700);
  }
}

.link {
  @include btn(
    var(--color-dark-300),
    var(--font-size-m),
    var(--font-weight-bold),
    var(--color-accent-500)
  );

  background: transparent;

  &:active:enabled {
    color: var(--color-accent-700);
  }

  &:hover:enabled {
    color: var(--color-accent-300);
  }

  &:focus-visible {
    border: 2px solid var(--color-info-700);
    border-radius: 130px;
  }
}

.fullWidth {
  width: 100%;
}
